/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
#page .wp-block-effidic-number {
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 2rem 2rem;
  height: 100%;
}

#page .wp-block-effidic-number h2 {
  margin: 0 0 1.5rem 0;
  font-size: 34px;
  color: #E86F64;
}

@media screen and (max-width: 600px) {
  #page .wp-block-effidic-number h2 {
    font-size: 28px;
  }
}

#page .wp-block-effidic-number > p {
  margin-top: 1rem;
  margin-bottom: 0;
}
