/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-effidic-section-bg {
  background-color: #EFEFEF;
  background-image: url("blue_visual.svg");
  background-repeat: no-repeat;
  background-position: top -3rem right -10rem;
  background-size: 700px;
  padding: 3rem 0 3.5rem 0;
}

.wp-block-effidic-section-bg.is-style-fg-io {
  background-image: url("orange_visual.svg");
  background-position: top 1rem left -4rem;
}

.wp-block-effidic-section-bg.is-style-fo-ib {
  background-image: url("white_visual.svg");
  background-color: #E86F64;
  background-position: top 1rem left -5rem;
}

.wp-block-effidic-section-bg.is-style-fb-ni {
  background-image: none;
  background-color: #2F3254;
}

.wp-block-effidic-section-bg.is-style-fo-ni {
  background-image: none;
  background-color: #E86F64;
  color: #fff;
}
