/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-effidic-section-bg {
  background-color: #EFEFEF;
  background-image: url("blue_visual.svg");
  background-repeat: no-repeat;
  background-position: top -5rem right -17rem;
  background-size: 900px;
  padding: 4.25rem 0;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg {
    padding: 2rem 0;
    background-size: 1000px;
    background-position: top 410px right -460px;
  }
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.newsletter {
    background-size: 1000px;
    background-position: top -260px right -700px;
  }
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.reference-cta {
    background-size: 1000px;
    background-position: top -160px right -700px;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.download-cta {
    background-position: top -10px right -700px;
  }
}

.wp-block-effidic-section-bg.is-style-fg-io {
  background-image: url("orange_visual.svg");
  background-position: top 1rem left -4rem;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.is-style-fg-io {
    background-image: none;
  }
}

.wp-block-effidic-section-bg.is-style-fg-io-b {
  background-image: url("orange_visual.svg");
  background-position: bottom 1rem left -24rem;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.is-style-fg-io-b {
    background-image: none;
  }
}

.wp-block-effidic-section-bg.is-style-fo-ib {
  background-image: url("white_visual.svg");
  background-color: #EA6E61;
  background-position: top 1rem left -5rem;
  background-size: 700px;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.is-style-fo-ib {
    background-position: top 270px right -400px;
  }
}

.wp-block-effidic-section-bg.is-style-fo-ib.glossary-cta {
  background-position: top 50px right -20px;
}

.wp-block-effidic-section-bg.is-style-fo-ibh {
  background-image: url("white_visual-high.svg");
  background-color: #EA6E61;
  background-position: top 1rem left -18rem;
  background-size: 700px;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.is-style-fo-ibh {
    background-image: none;
  }
}

.wp-block-effidic-section-bg.is-style-fb-ni {
  background-image: none;
  background-color: #2F3254;
}

.wp-block-effidic-section-bg.is-style-fo-ni {
  background-image: none;
  background-color: #EA6E61;
  color: #fff;
}

.wp-block-effidic-section-bg.is-style-fo-ni hr {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.is-style-fo-ni .wp-block-image {
    display: none;
  }
}

.wp-block-effidic-section-bg.is-style-fg-ni {
  background-image: none;
  background-color: #EFEFEF;
}

.wp-block-effidic-section-bg.is-style-fbl-ni {
  background-image: none;
  background-color: #FFF;
}

.wp-block-effidic-section-bg.is-style-fo-ib-2 {
  background-image: url("white-visual-2.svg");
  background-color: #E86F64;
  background-position: bottom 1rem left -5rem;
  background-size: 600px;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg.is-style-fo-ib-2 {
    background-position: top 270px right -400px;
  }
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-section-bg .wp-block-columns {
    margin-bottom: 0;
  }
  .wp-block-effidic-section-bg .wp-block-columns .wp-block-column:first-child {
    margin-bottom: 0;
  }
}
