/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-effidic-section-bg {
	background-color: #EFEFEF;
	background-image: url('blue_visual.svg');
	background-repeat: no-repeat;
	background-position: top -5rem right -17rem;
	background-size: 900px;
	padding: 4.25rem 0;

	@media screen and (max-width:900px) {
		padding: 2rem 0;
		background-size: 1000px;
		background-position: top 410px right -460px;
	}

	&.newsletter {
		@media screen and (max-width:900px) {
			/* background-size: 1000px;
			background-position: top -260px right -700px; */
		}
	}

	&.reference-cta {
		@media screen and (max-width:900px) {
			background-size: 1000px;
			background-position: top -160px right -700px;
			padding-bottom: 1rem;
		}
	
	}

	&.download-cta {
		@media screen and (max-width:900px) {
			background-position: top -10px right -700px;
		}
	
	}

	&.is-style-fg-io{
		background-image: url('orange_visual.svg');
		background-position: top 1rem left -4rem;

		@media screen and (max-width:900px) {
			background-image: none;
		}
	}

	&.is-style-fg-io-b{
		background-image: url('orange_visual.svg');
		background-position: bottom 1rem left -24rem;

		@media screen and (max-width:900px) {
			background-image: none;
		}
	}
	&.is-style-fo-ib{
		background-image: url('white_visual.svg');
		background-color: #EA6E61;
		background-position: top 1rem left -5rem;
		background-size: 700px;

		@media screen and (max-width:900px) {
			background-position: top 270px right -400px;
		}

		&.glossary-cta {
			background-position: top 50px right -20px;
		}



	}
	&.is-style-fo-ibh{
		background-image: url('white_visual-high.svg');
		background-color: #EA6E61;
		background-position: top 1rem left -18rem;
		background-size: 700px;

		@media screen and (max-width:900px) {
			background-image: none;
		}
	}
	&.is-style-fb-ni{
		background-image: none;
		background-color: #2F3254;
	}
	&.is-style-fo-ni{
		background-image: none;
		background-color: #EA6E61;
		color: #fff;
		hr{
			margin-top: 1rem;
			margin-bottom: 2.5rem;
		}

		.wp-block-image {
			@media screen and (max-width:900px) {
				display: none;
			}
		}
	}
	&.is-style-fg-ni{
		background-image: none;
		background-color: #EFEFEF;
	}
	&.is-style-fbl-ni{
		background-image: none;
		background-color: #FFF;
	}
	&.is-style-fo-ib-2{
        background-image: url('white-visual-2.svg');
        background-color: #E86F64;
        background-position: bottom 1rem left -5rem;
        background-size: 600px;

		@media screen and (max-width:900px) {
			background-position: top 270px right -400px;
		}
    }
	.wp-block-columns{
		@media screen and (max-width: 900px) {
			margin-bottom: 0;
			.wp-block-column:first-child{
				margin-bottom: 0;
			}
		}
	}
}
