/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
#page .wp-block-effidic-img-custom {
  position: relative;
}

#page .wp-block-effidic-img-custom::after {
  content: url("motif-img.svg");
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(10%, 50%);
          transform: translate(10%, 50%);
}

@media screen and (max-width: 900px) {
  #page .wp-block-effidic-img-custom::after {
    -webkit-transform: translate(15%, 40%) scale(-70%);
            transform: translate(15%, 40%) scale(-70%);
  }
}

#page .wp-block-effidic-img-custom.is-style-img-gauche::after {
  right: unset;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-10%, 50%);
          transform: translate(-10%, 50%);
}

@media screen and (max-width: 900px) {
  #page .wp-block-effidic-img-custom.is-style-img-gauche::after {
    -webkit-transform: translate(-15%, 40%) scale(-70%);
            transform: translate(-15%, 40%) scale(-70%);
  }
}

@media screen and (max-width: 900px) {
  #page .wp-block-effidic-img-custom .wp-block-image {
    margin-bottom: 4rem;
  }
}
