/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

#page .wp-block-effidic-img-custom {
	position: relative;

	&::after {
		content: url('motif-img.svg');
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translate(10%, 50%);

		@media screen and (max-width:900px) {
			transform: translate(15%, 40%) scale(-70%);
		}
	}
	&.is-style-img-gauche::after {
		right: unset;
		bottom: 0;
		left: 0;
		transform: translate(-10%, 50%);

		@media screen and (max-width:900px) {
			transform: translate(-15%, 40%) scale(-70%);
		}
	}

	.wp-block-image {
		@media screen and (max-width:900px) {
			margin-bottom: 4rem;
		}
	}
}
