/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

#page .wp-block-effidic-job-card {
	height: 100%;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
	padding: 2rem 2rem;
	hr{
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	h3{
		margin: 0;
	}
	> p{
		margin: 0;
	}
	.wp-block-button{
		margin-top: 1rem;
		margin-bottom: 0;
	}
	@media screen and (max-width:800px) {
		margin-bottom: 2rem;
	}
}
