/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-effidic-first-section {
  background-color: #2F3155;
  color: #fff;
  background-image: url("home_visual.svg");
  background-repeat: no-repeat;
  background-position: top 1rem right -12rem;
  background-size: 620px;
  padding: 7rem 0 7.5rem 0;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-first-section {
    padding: 3rem 0 2rem 0;
    background-position: right -150px top 70px;
    background-size: 300px;
  }
}

.wp-block-effidic-first-section * {
  margin: 0;
}

.wp-block-effidic-first-section h1 {
  margin-bottom: 2rem;
}

.wp-block-effidic-first-section.is-style-no-image {
  background-image: none;
}

@media screen and (max-width: 900px) {
  .wp-block-effidic-first-section.is-style-no-image figure {
    width: 60%;
  }
}
