/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$blue:#2F3155;
$white:#fff;

.wp-block-effidic-first-section {
	background-color: $blue;
	color: $white;
	background-image: url('home_visual.svg');
	background-repeat: no-repeat;
	background-position: top 1rem right -12rem;
	background-size: 620px;
	padding: 7rem 0 7.5rem 0;

	@media screen and (max-width:900px) {
		padding: 3rem 0 2rem 0;
		background-position: right -150px top 70px;
		background-size: 300px;
	}

	*{
		margin: 0;
	}

	h1{
		margin-bottom: 2rem;
	}

	&.is-style-no-image{
		background-image: none;

		figure {
			@media screen and (max-width:900px) {
				width: 60%;
			}
		}
	}

}