/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-effidic-newsletter {

	form{
		display: flex;
		flex-direction: column;
		label{
			margin-bottom: 0rem;
		}
	}
}
