/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-effidic-card-btn {
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
	padding: 2rem 2rem 7rem 2rem;
	height: 100%;
	h3{
		margin: 1rem;
	}
	> p {
		margin: 0;
	}
	hr{
		margin-top: .5rem;
		margin-bottom: 1rem;
	}
	position: relative;
	.wp-block-button{
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translate(-50%);
	}
}