/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
#page .wp-block-effidic-card-btn {
  background-color: #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 2rem 2rem 7rem 2rem;
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 24rem;
}

#page .wp-block-effidic-card-btn h3 {
  margin: 1rem;
}

#page .wp-block-effidic-card-btn > p {
  margin: 0;
}

#page .wp-block-effidic-card-btn hr {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

#page .wp-block-effidic-card-btn .wp-block-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#page .wp-block-effidic-card-btn a {
  margin-top: 2rem;
}
