/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

#page .wp-block-effidic-card-btn {
	background-color: #ffffff;
	border-radius: 1rem;
	box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
	padding: 2rem 2rem 7rem 2rem;
	position: relative;
	height: 100%;
	margin: 0 auto;
	max-width: 24rem;
	h3{
		margin: 1rem;
	}
	> p {
		margin: 0;
	}
	hr{
		margin-top: .5rem;
		margin-bottom: 1rem;
	}
	.wp-block-button{
		width: max-content;
		text-align: center;
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translate(-50%);
	}
	a{
		margin-top: 2rem;
	}
}
