/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
#page .wp-block-effidic-card {
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 2rem 2rem;
  height: 100%;
  margin-bottom: 1rem;
}

#page .wp-block-effidic-card h3 {
  margin: 1rem;
}

#page .wp-block-effidic-card > p {
  margin: 0;
}

#page .wp-block-effidic-card hr {
  margin-top: .5rem;
  margin-bottom: 1rem;
}
