/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

#page .wp-block-effidic-card {
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0px 3px 6px rgba(0,0,0, 0.16);
	padding: 2rem 2rem;
	height: 100%;
	margin-bottom: 1rem;
	h3{
		margin: 1rem;
	}
	> p {
		margin: 0;
	}
	hr{
		margin-top: .5rem;
		margin-bottom: 1rem;
	}
	.is-style-card{
		width: 90px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		> img{
			width: 100%;
		}
	}
}
