/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-effidic-section-methodo {
    display: flex;
    flex-direction: column;
}
