/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
$blue:#2F3155;

.wp-block-effidic-section-methodo {
    display: flex;
    flex-direction: column;
}
