/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-effidic-section-methodo-child {
	max-width: 70%;
	width: 100%;
	display: flex;
	color: #fff;
	&:nth-child(odd){
		align-self: flex-start;
	}
	&:nth-child(even){
		align-self: flex-end;
	}
	.list-number{
		font-family: 'Poppins SB',Arial, Helvetica, sans-serif;
		letter-spacing: 0;
		margin: 0;
		font-size: 76px;
		position: relative;
		padding-right: 20px;
		&::after{
			content: ".";
			color: #EA6E61;
			position: absolute;
			right: 0;
		}
	}
	.h2-like{
		font-family: 'Poppins SB',Arial, Helvetica, sans-serif;
		margin-top: 3rem;
		margin-left: 1.5rem;
	}
}