/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-effidic-section-methodo-child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@media screen and (min-width: 900px) {
  .wp-block-effidic-section-methodo-child {
    max-width: 70%;
  }
  .wp-block-effidic-section-methodo-child:nth-child(odd) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .wp-block-effidic-section-methodo-child:nth-child(even) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.wp-block-effidic-section-methodo-child .list-number {
  font-family: 'Poppins SB',Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  margin: 0;
  font-size: 76px;
  position: relative;
  padding-right: 20px;
}

.wp-block-effidic-section-methodo-child .list-number::after {
  content: ".";
  color: #EA6E61;
  position: absolute;
  right: 0;
}

.wp-block-effidic-section-methodo-child .h2-like {
  font-family: 'Poppins SB',Arial, Helvetica, sans-serif;
  margin-top: 3rem;
  margin-left: 1.5rem;
}
